services:
  db:
    image: pgvector/pgvector:pg18-trixie
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - ./tmp/db-data:/var/lib/postgresql
